<div class="center">
  <h1>Welocme to Angular Apps</h1>
</div>
  <h2>01-Interpolation</h2>
  <h2>01-Component</h2>
  <h3>Selector-demo</h3>
  <!-- <app-selector-demo></app-selector-demo> -->
  <!-- <div class="app-selector-demo"></div> -->
  <div app-selector-demo></div>
  <h3>Template-demo</h3>
  <app-template-demo></app-template-demo>
  <h3>Style-demo</h3>
  <app-style-demo></app-style-demo>

  <h2>02-Interpolation</h2>
  <app-interpolation-demo></app-interpolation-demo>

  <h2>03-Property Binding</h2>
  <app-property-binding-demo></app-property-binding-demo>

  <h2>04-Class Binding</h2>
  <app-class-binding-demo></app-class-binding-demo>

  <h2>05-Style Binding</h2>
  <app-style-binding-demo></app-style-binding-demo>

  <h2>06-Event Binding</h2>
  <app-event-binding-demo></app-event-binding-demo>

  <h2>07-Template Refrence</h2>
  <app-template-reference-demo></app-template-reference-demo>

  <h2>07-Two Way Binding</h2>
  <app-two-way-binding-demo></app-two-way-binding-demo>
